# Binaries
fconvert
fconvert-v*
fconvert-*.tar
*.o
*.so
*.DS_Store

# Directories to ignore content but keep the folder
pkg/
src/

# CMake artifacts
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*debugging
*shipping