# Binaries
fconvert*.bin
*.AppImage
*fconvert
*.o
*.so
*.dll
*.DS_Store

# Directories
pkg/
src/
fconvert-binaries/
fconvert/
squash*/
.id*/

# CMake artifacts
*build*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
AppDir/

# Offline Features
*.test
*debugging
*shipping
FFmpeg*