# Binaries
fconvert
fconvert-v*
fconvert-*.tar
*.o
*.so
*.DS_Store

# Directories to ignore content but keep the folder
pkg/
src/
fconvert-binaries/

# CMake artifacts
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Offline Features
classes/ebook*
*debugging
*shipping